<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="WixSharp_wix4" version="2.0.4" targetFramework="net481" />
  <package id="WixSharp_wix4.bin" version="2.0.4" targetFramework="net481" />
  <package id="WixToolset.Dtf.WindowsInstaller" version="4.0.3" targetFramework="net481" />
  <package id="WixToolset.Mba.Core" version="4.0.3" targetFramework="net481" />
</packages>